.no-scroll {
  overflow: hidden;
}

body.image-preview-open {
  overflow: hidden;
}

/* Base Styles */
body, body * {
  transition: var(--transition-bg-color);
}

.ionicon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  vertical-align: middle;
}

.ionicon-fill-none {
  fill: none;
}

.ionicon-stroke-width {
  stroke-width: 32px;
  stroke-width: var(--ionicon-stroke-width, 32px);
}

h1, h2, h3, h4, h5, h6, a, p, li {
  transition: var(--transition-color-fast);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, li a {
  transition: 0ms;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-stack-default);
  font-weight: 350;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-main-container);
  padding: 0 2rem 0 2rem;
}

.main-container:has(.intro-content, .about-content) {
  max-width: var(--width-main-container);
}

.main-container:has(.subpage-ind-content) {
  max-width: calc(var(--width-main-container) + 2rem + 290px);
}

@media (max-width: 768px) {
  .main-container {
    padding: 0 1.25rem 0 1.25rem;
  }
}

.main-content {
  padding-top: 80px;
}

.main-content:has(.subpage-ind-page) {
  padding-top: 60px;
}

p {
  line-height: var(--line-height-page);
}

footer {
  margin: 2rem 0;
  text-align: center;
  font-family: "General Sans", sans-serif;
  font-weight: 425;
}

.main-container:has(.featured-container) + footer {
  margin-top: 0;

  p { margin-top: 0; }
}

footer.footer--fade-in {
  opacity: 0;
  animation: footer-fade-in 1.5s ease 1s forwards;
}

.main-container:not(:has(.featured-container)) + footer {
  opacity: 1;
  animation: none;
}

@keyframes footer-fade-in {
  to {
    opacity: 1;
  }
}

@media (prefers-reduced-motion: reduce) {
  footer.footer--fade-in {
    animation: none;
    opacity: 1;
    transform: none;
  }
}

mjx-container[display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.80em 0 !important;
  -webkit-overflow-scrolling: touch;
}
