.no-scroll {
  overflow: hidden;
}

body.image-preview-open {
  overflow: hidden;
}

/* Base Styles */
body, body * {
  transition: var(--transition-bg-color);
}

.ionicon {
  display: inline-block;
  width: 1em;
  height: 1em;
  fill: currentColor;
  stroke: currentColor;
  vertical-align: middle;
}

.ionicon-fill-none {
  fill: none;
}

.ionicon-stroke-width {
  stroke-width: 32px;
  stroke-width: var(--ionicon-stroke-width, 32px);
}

h1, h2, h3, h4, h5, h6, a, p, li {
  transition: var(--transition-color-fast);
}

h1 a, h2 a, h3 a, h4 a, h5 a, h6 a, p a, li a {
  transition: 0ms;
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: var(--font-stack-default);
  font-weight: 350;
}

.main-container {
  margin-left: auto;
  margin-right: auto;
  max-width: var(--width-main-container);
  padding: 56px 2rem 0 2rem;
}

.main-container:has(.intro-content, .about-content) {
  max-width: var(--width-main-container);
}

.main-container:has(.blog-post-content, .project-content) {
  max-width: calc(var(--width-main-container) + 2rem + 280px);
}

@media (max-width: 768px) {
  .main-container {
    padding: 56px 1.25rem 0 1.25rem;
  }
}

.main-content {
  padding: 0;
}

p {
  line-height: 1.5;
}

footer {
  margin: 2rem 0;
  text-align: center;
  font-family: "General Sans", sans-serif;
  font-weight: 425;
}

mjx-container[display="true"] {
  overflow-x: auto;
  overflow-y: hidden;
  margin: 0.80em 0 !important;
  -webkit-overflow-scrolling: touch;
}
