:root {
  /* Color Palette */
  --color-bg: #fff;
  --color-text: #32302c;
  --color-accent: #196cc4; /* Example accent color, adjust as needed */
  --color-ripple: rgba(0, 0, 0, 1);

  /* Toggle Variables */
  --toggle-width: 60px;
  --toggle-height: 30px;
  --toggle-circle-diameter: 20px;
  --toggle-border: 1px solid var(--color-toggle-border);
  --color-toggle-border: #32302c;
  --toggle-bg: transparent;
  --toggle-circle-bg: transparent;

  /* Sidebar Variables */
  --color-sidebar-bg-rgb: 242, 242, 247;
  --sidebar-bg-alpha: 0.5;

  /* Theme Transition Variables */
  --transition-theme: background-color 0.16s, border-color 0.16s, color 0.08s;
}

/* System Theme Detection */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg: #191919;
    --color-text: #d4d4d4;
    --color-accent: #196cc4;
    --color-ripple: #d4d4d4;
    --color-toggle-border: #d4d4d4;
    --color-sidebar-bg-rgb: 0, 0, 0;
    --sidebar-bg-alpha: 0.5;
  }
}

/* Theme Overrides */
[data-theme="light"] {
  --color-bg: #fff;
  --color-text: #32302c;
  --color-accent: #196cc4;
  --color-ripple: #32302c;
  --color-toggle-border: #32302c;
}

[data-theme="dark"] {
  --color-bg: #191919;
  --color-text: #d4d4d4;
  --color-accent: #93bbe3;
  --color-ripple: #d4d4d4;
  --color-toggle-border: #d4d4d4;
  --color-sidebar-bg-rgb: 0, 0, 0;
  --sidebar-bg-alpha: 0.75;
}