:root {
  --color-bg: #fff;

  --color-text: #32302c;
  --color-text-secondary: #909090;
  --color-text-tertiary: #aaa;
  --color-border: #32302c;
  --color-border-rgb: 50, 48, 44;
  --color-accent: #4281db;
  --color-ripple: #32302c;

  /* Project Box Colors */
  --color-surface: #fff;
  --color-surface-secondary: #fafafa;
  --color-box-border: #ececec;
  --color-primary: #4281db;
  --color-primary-dark: #e4edfa;
  --color-primary-light: #f2f6fc;

  /* Theme Transition Variables */
  --transition-theme: background-color 0.16s, border-color 0.16s, color 0.08s;
}

/* System Theme Detection */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg: #191919;

    --color-text: #d4d4d4;
    --color-text-secondary: #838383;
    --color-text-tertiary: #5a5a5a;

    --color-border: #d4d4d4;
    --color-border-rgb: 212, 212, 212;
    --color-accent: #4281db;
    --color-ripple: #d4d4d4;
    --color-toggle-border: #d4d4d4;
    --color-sidebar-bg-rgb: 25, 25, 25;
    --sidebar-bg-alpha: 0.75;

    /* Project Box Colors */
    --color-surface: #1c1c1c;
    --color-surface-secondary: #202020;
    --color-box-border: #474747;
    --color-primary: #4281db;
    --color-primary-dark: #1e2734;
    --color-primary-light: #1c2026;
  }
}

[data-theme="dark"] {
  --color-bg: #191919;

  --color-text: #d4d4d4;
  --color-text-secondary: #838383;
  --color-text-tertiary: #5a5a5a;

  --color-border: #d4d4d4;
  --color-border-rgb: 212, 212, 212;
  --color-accent: #4281db;
  --color-ripple: #d4d4d4;
  --color-toggle-border: #d4d4d4;
  --color-sidebar-bg-rgb: 25, 25, 25;
  --sidebar-bg-alpha: 0.75;
  
  /* Project Box Colors */
  --color-surface: #1c1c1c;
  --color-surface-secondary: #202020;
  --color-box-border: #474747;
  --color-primary: #4281db;
  --color-primary-dark: #1e2734;
  --color-primary-light: #1c2026;
}