:root {
  --color-bg: #fff;
  --color-bg-rgb: 255, 255, 255;

  --color-text: #32302c;
  --color-text-secondary: #909090;
  --color-text-tertiary: #aaa;

  --color-border: #32302c;
  --color-border-rgb: 50, 48, 44;
  --color-ripple: #32302c;

  --color-surface: #fff;
  --color-surface-secondary: #fafafa;
  --color-surface-tertiary: #ececec;
  --color-box-border: #ececec;

  --color-accent-primary: #4281db;
  --color-bg-accent-dark: #e4edfa;
  --color-bg-accent-light: #f2f6fc;

  --transition-color: color 0.32s ease;
  --transition-color-fast: color 0.16s ease;
  --transition-color-slow: color 0.64s ease;

  --transition-bg-color: background-color 0.32s ease;
  --transition-bg-color-fast: background-color 0.16s ease;
  --transition-border-color: border-color 0.32s ease;
  --transition-fill: fill 0.32s ease;
}

@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg: #191919;
    --color-bg-rgb: 25, 25, 25;

    --color-text: #d4d4d4;
    --color-text-secondary: #838383;
    --color-text-tertiary: #5a5a5a;

    --color-border: #d4d4d4;
    --color-border-rgb: 212, 212, 212;
    --color-ripple: #d4d4d4;

    --color-surface: #1c1c1c;
    --color-surface-secondary: #202020;
    --color-surface-tertiary: #474747;
    --color-box-border: #474747;

    --color-accent-primary: #4281db;
    --color-bg-accent-dark: #1e2734;
    --color-bg-accent-light: #1c2026;
  }
}

[data-theme="dark"] {
  --color-bg: #191919;
  --color-bg-rgb: 25, 25, 25;

  --color-text: #d4d4d4;
  --color-text-secondary: #838383;
  --color-text-tertiary: #5a5a5a;

  --color-border: #d4d4d4;
  --color-border-rgb: 212, 212, 212;
  --color-ripple: #d4d4d4;
  
  --color-surface: #1c1c1c;
  --color-surface-secondary: #202020;
  --color-surface-tertiary: #474747;
  --color-box-border: #474747;

  --color-accent-primary: #4281db;
  --color-bg-accent-dark: #1e2734;
  --color-bg-accent-light: #1c2026;
}