:root {
  --background-color: #F2F2F7;
  --text-color: #000000;
  --toggle-bg-light: transparent;
  --toggle-bg-dark: transparent;
  --toggle-circle-light: transparent;
  --toggle-circle-dark: transparent;
  --toggle-circle-width: 20px;
  --toggle-circle-height: 20px;
  --toggle-border-light: #000000;
  --toggle-border-dark: #F5F5F7;
  --toggle-border-width: 1px;
  --ripple-color: rgba(0, 0, 0, 0.3);
}

[data-theme="dark"] {
  --background-color: #000000;
  --text-color: #F5F5F7;
  --toggle-bg-light: transparent;
  --toggle-bg-dark: transparent;
  --toggle-border-light: #000000;
  --toggle-border-dark: #F5F5F7;
  --toggle-circle-light: transparent;
  --toggle-circle-dark: transparent;
  --ripple-color: rgba(255, 255, 255, 0.3);
}

body {
  background-color: var(--background-color);
  color: var(--text-color);
  transition: background-color 0.3s, color 0.3s;
  font-family: 'SF Pro', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, 'Helvetica Neue', Arial, sans-serif;
}

.theme-toggle {
  position: fixed;
  top: 10px;
  right: 10px;
  width: 60px;
  height: 30px;
  background-color: var(--toggle-bg-light);
  border: var(--toggle-border-width) solid var(--toggle-border-light);
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: background-color 0.3s;
}

.theme-toggle:hover,
.theme-toggle:focus {
  filter: brightness(1.1);
  transition: filter 0.3s;
}

[data-theme="dark"] .theme-toggle {
  background-color: var(--toggle-bg-dark);
  border: var(--toggle-border-width) solid var(--toggle-border-dark);
}

.toggle-circle {
  position: relative;
  left: 5px;
  width: var(--toggle-circle-width);
  height: var(--toggle-circle-height);
  background-color: var(--toggle-circle-light);
  border: var(--toggle-border-width) solid var(--toggle-border-light);
  border-radius: 50%;
  transition: transform 0.3s, background-color 0.3s;
}

[data-theme="dark"] .toggle-circle {
  background-color: var(--toggle-circle-dark);
  border: var(--toggle-border-width) solid var(--toggle-border-dark);
  transform: translateX(28px);
}