<nav class="nav-bar">
  <!-- Mobile Menu Button -->
  <div class="menu-btn">
    <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
      <path stroke-linecap="round" stroke-miterlimit="10" stroke-width="48" d="M88 152h336M88 256h336M88 360h336" class="ionicon-fill-none"></path>
    </svg>
  </div>
  <a href="/" class="nav-logo-link"><img src="/src/assets/icons/favicon.png" class="nav-logo-image"/></a>
  <a href="/" class="logo">
    eliohsw
  </a>
  <div class="nav-links">
    <a href="/about">ABOUT</a>
    <a href="/blog">BLOG</a>
    <a href="/projects">PROJECTS</a>
    <!-- <a href="/gallery">GALLERY</a> -->
  </div>
  <div class="toggle-group">
    <!-- <div id="system-toggle" class="system-toggle">
      <div class="system-indicator"></div>
    </div> -->
    <div id="theme-toggle" class="theme-toggle">
      <div class="toggle-circle"></div>
    </div>
  </div>
</nav> 
