<nav class="nav-bar">
  <!-- Mobile Menu Button -->
  <div class="menu-btn">
    <ion-icon name="menu-sharp"></ion-icon>
  </div>
  <a href="/" class="logo">@eliohsw</a>
  <div class="nav-links">
    <a href="/about">ABOUT</a>
    <a href="/projects">PROJECTS</a>
  </div>
  <div class="toggle-group">
    <div id="system-toggle" class="system-toggle">
      <div class="system-indicator"></div>
    </div>
    <div id="theme-toggle" class="theme-toggle">
      <div class="toggle-circle"></div>
    </div>
  </div>
</nav> 