@font-face {
  font-family: "CMU Serif";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunrm.otf');
}

@font-face {
  font-family: "CMU Serif";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbx.otf');
  font-weight: bold; /* Use Bold Extended for Bold */
}

@font-face {
  font-family: "CMU Serif";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunti.otf');
  font-style: italic;
}

@font-face {
  font-family: "CMU Serif";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunsl.otf');
  font-style: oblique;
}

@font-face {
  font-family: "CMU Serif";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbi.otf');
  font-weight: bold;
  font-style: italic;
}

@font-face {
  font-family: "CMU Serif";
  src: url('http://mirrors.ctan.org/fonts/cm-unicode/fonts/otf/cmunbl.otf');
  font-weight: bold;
  font-style: oblique;
}

.cmu-text {
  font-family: "CMU Serif", 'Noto Serif TC', serif;
}