.no-scroll {
  overflow: hidden;
}

/* Base Styles */
body, body * {
  transition: var(--transition-theme);
}

body {
  margin: 0;
  background-color: var(--color-bg);
  color: var(--color-text);
  font-family: -apple-system, BlinkMacSystemFont, 'Inter', sans-serif;
}

.main-content {
  padding: 4px 16px 4px 18px;
}

p {
  line-height: 1.5;
}

footer {
  padding: 4px 16px 4px 18px;
}