:root {
  /* Color Palette */
  --color-bg: #F2F2F7;
  --color-text: #000000;
  --color-accent: #007AFF; /* Example accent color, adjust as needed */
  --color-ripple: rgba(0, 0, 0, 1);

  /* Toggle Variables */
  --toggle-width: 60px;
  --toggle-height: 30px;
  --toggle-circle-diameter: 20px;
  --toggle-border: 1px solid var(--color-toggle-border);
  --color-toggle-border: #000000;
  --toggle-bg: transparent;
  --toggle-circle-bg: transparent;

  /* Sidebar Variables */
  --color-sidebar-bg-rgb: 242, 242, 247;
  --sidebar-bg-alpha: 0.5;
}

/* System Theme Detection */
@media (prefers-color-scheme: dark) {
  :root:not([data-theme]) {
    --color-bg: #000000;
    --color-text: #F5F5F7;
    --color-accent: #0A84FF;
    --color-ripple: rgba(255, 255, 255, 1);
    --color-toggle-border: #F5F5F7;
    --color-sidebar-bg-rgb: 0, 0, 0;
    --sidebar-bg-alpha: 0.5;
  }
}

/* Theme Overrides */
[data-theme="light"] {
  --color-bg: #F2F2F7;
  --color-text: #000000;
  --color-accent: #007AFF;
  --color-ripple: rgba(0, 0, 0, 1);
  --color-toggle-border: #000000;
}

[data-theme="dark"] {
  --color-bg: #000000;
  --color-text: #F5F5F7;
  --color-accent: #93bbe3;
  --color-ripple: rgba(255, 255, 255, 1);
  --color-toggle-border: #F5F5F7;
  --color-sidebar-bg-rgb: 0, 0, 0;
  --sidebar-bg-alpha: 0.75;
}