.intro-quote {
  font-family: 'EB Garamond', serif;
  font-weight: 500;
}

.intro-content {
  font-size: 1.15rem;
}

.intro-content-name {
  display: flex;
  gap: .5rem;
  margin: 1rem 0 0.5rem 0;
  height: max-content;
}

.intro-content-name h2 {
  margin: 0;
  font-size: 1.5rem;
  font-weight: normal;
}