:root {
  --social-icon-gap: 7px;
  --social-icon-width: 30px;
  --social-icon-height: 30px;
}

.social-bar {
  display: flex;
  justify-content: end;
  align-items: center;
  height: 4rem;
  gap: 6px;
  padding: 0;
}

.social-bar h1,
.social-bar h2,
.social-bar h3 {
  margin: 0;
  white-space: nowrap;
}

.social-links {
  display: flex;
  align-items: center;
  margin-left: auto;
}

.social-links > *:not(:last-child) {
  margin-right: var(--social-icon-gap);
}

.social-links > .social-icon-gap-x:not(:last-child) {
  margin-right: calc(var(--social-icon-gap) - 4.5px) !important;
}

.social-links > .social-icon-gap-threads:not(:last-child) {
  margin-right: calc(var(--social-icon-gap) - 2px) !important;
}

.social-links > .social-icon-gap-github:not(:last-child) {
  margin-right: calc(var(--social-icon-gap) - 3px) !important;
}

@media (max-width: 500px) {
  .social-links-text,
  .social-bar .social-links-arrow {
    display: none !important;
  }
}

.social-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--text-color);
  transition: all 0.3s ease;
  padding: 4px;
  border-radius: 50%;
}

.social-icon svg {
  display: block;
  width: var(--social-icon-width);
  height: var(--social-icon-height);
  fill: currentColor;
}

.social-icon ion-icon {
  width: var(--social-icon-width);
  height: var(--social-icon-height);
  fill: currentColor
}

.social-icon:hover {
  color: var(--accent-color); /* Change to your preferred hover color */
  transform: translateY(-2px);
}

.social-icon:active {
  transform: translateY(0);
}