.intro-content {
  margin-top: 4rem;
}

.intro-name {
  font-size: 1.5rem;
  font-weight: 350;
}

.intro-content a {
  color: var(--color-accent-primary);
  text-decoration: none;
}

.connect-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 6px;
  margin-top: 10px;
  margin-bottom: 12px;
  font-family: "Satoshi", sans-serif;
}

.connect-links-text-container {
  display: flex;
  align-items: center;
  gap: 6px;
}

.connect-links-arrow {
  width: 16px;
  height: 16px;
  transition: var(--transition-color-fast);
}

.connect-links-text {
  font-weight: bold;
}

.connect-links {
  display: flex;
  align-items: center;
  gap: 6px;
}

@media (max-width: 575px) {
  .connect-links-text-container {
    display: none !important;
  }
  .connect-bar {
    justify-content: flex-end !important;
  }
}

.connect-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  background: var(--color-surface-secondary);
  transition: var(--transition-bg-color), var(--transition-transform);
}

.connect-icon:hover {
  color: var(--color-accent-primary);
  transform: translateY(-2px);
  background: var(--color-bg-accent-dark);
}

.connect-icon:active {
  transform: translateY(0);
}

.platform-icon {
  width: 22px;
  height: 22px;
  display: block;
  color: currentColor;
  fill: currentColor;
  transition: var(--transition-color-fast), var(--transition-fill);
  transform: translateZ(0);
}

.connect-icon:hover .platform-icon {
  color: var(--color-accent-primary);
  fill: var(--color-accent-primary)
}

.contact-list {
  list-style: none;
  padding: 0;
  margin-bottom: 2rem;
  font-size: 1.15rem;
}

.contact-list li {
  margin-bottom: 12px;
  display: flex;
  align-items: center;
  gap: 1rem;
}

.contact-list li:first-child {
  margin-top: 18px;
}

.contact-list li:last-child {
  margin-bottom: 0;
}

.contact-link {
  text-decoration: none;
  display: flex;
  align-items: center;
  align-self: flex-start;
  transition: opacity 0.2s ease;
}

.contact-link:hover {
  opacity: 0.8;
}

.contact-icon {
  font-size: 1.1em;
}

.contact-emails {
  display: flex;
  flex-direction: column;
  gap: 0.1em;
}

.contact-email:not(:last-child) {
  margin-bottom: 8px;
}

.contact-email {
  display: flex;
  align-items: baseline;
  gap: 0.5em;
}

.contact-email-description {
  font-size: 0.9em;
  color: var(--color-text-secondary);
}

.contact-email-address {
  display: inline-block;
  min-width: 230px;
}

.contact-location-container {
  display: inline-flex;
  gap: 0.4em;
}

.contact-location-description {
  font-size: 0.75em;
  color: var(--color-text-secondary);
  padding-top: 0.1em;
}

@media (max-width: 575px) {
  .contact-email-address {
    min-width: unset;
    flex: 1;
  }
  
  .contact-email {
    flex-direction: column;
    gap: 6px;
    align-items: flex-start;
  }
  
  .contact-email-description {
    font-size: 0.85em;
    margin-left: 0;
  }
}

@media (max-width: 400px) {
  .contact-email-address a {
    word-break: break-word;
    hyphens: auto;
  }
}

.icon-filled { display: none; }

@media (prefers-color-scheme: dark) {
  .icon-outline { display: none; }
  .icon-filled { display: inline-flex; }
}
@media (prefers-color-scheme: light), (prefers-color-scheme: no-preference) {
  .icon-outline { display: inline-flex; }
  .icon-filled { display: none; }
}

[data-theme="dark"] .icon-outline {
  display: none !important;
}
[data-theme="dark"] .icon-filled {
  display: inline-flex !important;
}
[data-theme="light"] .icon-outline {
  display: inline-flex !important;
}
[data-theme="light"] .icon-filled {
  display: none !important;
}
