/* Mobile First Styles */
.menu-btn {
  display: none;
  cursor: pointer;
  z-index: 1001;
}

.menu-btn ion-icon {
  color: var(--color-text);
  font-size: 24px;
  align-self: center;
  transition: transform 0.3s ease;
}

/* Mobile Sidebar */
.mobile-sidebar {
  position: fixed;
  top: 0;
  left: -100%;
  width: 70%;
  max-width: 300px;
  height: 100%;
  background: rgba(var(--color-sidebar-bg-rgb), var(--sidebar-bg-alpha));
  mask-image: url('data:image/svg+xml,<svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 100 100"><linearGradient id="quartic-grad" x1="0%" y2="0%"><stop offset="0%" stop-color="rgba(0,0,0,1)"/><stop offset="60%" stop-color="rgba(0,0,0,1)"/><stop offset="65%" stop-color="rgba(0,0,0,0.999)"/><stop offset="70%" stop-color="rgba(0,0,0,0.996)"/><stop offset="75%" stop-color="rgba(0,0,0,0.980)"/><stop offset="80%" stop-color="rgba(0,0,0,0.937)"/><stop offset="85%" stop-color="rgba(0,0,0,0.847)"/><stop offset="90%" stop-color="rgba(0,0,0,0.684)"/><stop offset="95%" stop-color="rgba(0,0,0,0.414)"/><stop offset="100%" stop-color="rgba(0,0,0,0)"/></linearGradient><rect width="100" height="100" fill="url(%23quartic-grad)"/></svg>');
  mask-mode: alpha;
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  z-index: 999;
  transition: left 0.3s ease;
  padding: 20px;
}

.mobile-sidebar.active {
  left: 0;
}

.sidebar-links {
  display: flex;
  flex-direction: column;
  width: 60%;
  gap: 1.5rem;
  margin-top: 60px;
}

.sidebar-links a {
  color: var(--color-text);
  text-decoration: none;
  font-size: 1.1rem;
  font-weight: 200;
  font-stretch: semi-expanded;
  padding: 8px 0;
  position: relative;
}

.sidebar-links a::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 0;
  height: 1px;
  background: currentColor;
  transition: width 0.3s;
}

.sidebar-links a:hover::after {
  width: 100%;
}

/* Overlay for when sidebar is open */
.overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: transparent;
  z-index: 998;
  display: none;
}

.overlay.active {
  display: block;
}

/* Responsive Styles */
@media (max-width: 768px) {
  .menu-btn {
    display: flex;
    order: 1;
    align-self: center;
    margin-right: 10px;
  }

  .logo {
    order: 2;
    margin-right: 0;
  }

  .nav-links {
    display: none;
  }

  .toggle-group {
    order: 3;
    margin-left: auto;
  }
}