.toggle-group {
  z-index: 1102;
  display: flex;
  gap: 10px;
  align-items: center;
}

.theme-toggle {
  top: 10px;
  right: 10px;
  width: 60px;
  height: 30px;
  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 30px;
  display: flex;
  align-items: center;
  cursor: pointer;
  transition: filter 0.32s;

  &:hover, &:focus {
    filter: brightness(1.1);
  }
}

.toggle-circle {
  position: relative;
  left: 5px;
  width: 20px;
  height: 20px;
  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  transition: transform 0.32s;

  [data-theme="dark"] & {
    transform: translateX(28px);
  }
}

.theme-toggle.disabled {
  opacity: 0.4375;
  cursor: not-allowed;
}

.system-toggle {
  top: 10px;
  right: 80px;
  width: 30px;
  height: 30px;
  background: transparent;
  border: 1px solid var(--color-border);
  border-radius: 50%;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: opacity 0.32s;
}

.system-indicator {
  width: 20px;
  height: 20px;
  background: transparent;
  border-radius: 50%;
  border: 1px solid var(--color-border);
  opacity: 1;
  transition: opacity 0.32s;
}

.system-toggle.active {
  background: transparent;
  transition: opacity 0.32s;
}

.system-toggle.active .system-indicator {
  background: transparent;
}