---
layout: default
---
<h1 class="subpage-title">
  {{ page.page_title | default: page.title }}
  {% if page.last_updated %}
    <span class="last-updated" title="Last Updated">{{ page.last_updated }}</span>
  {% endif %}
</h1>
<div class="subpage-content">
  {{ content }}
</div>
<button class="subpage-top-btn" id="subpage-top-btn" type="button" aria-label="Back to top" title="Back to top">
  <svg xmlns="http://www.w3.org/2000/svg" class="ionicon" viewBox="0 0 512 512">
    <path stroke-linecap="round" stroke-linejoin="round" stroke-width="48" d="M112 328l144-144 144 144" class="ionicon-fill-none"></path>
  </svg>
</button>
